.ac-dropdown {
    margin: 0;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border: 1px solid #d2d2d7;
    padding: 10px;
    background-color: #ffffff;

    .dropdown-container {
        position: absolute;
        margin-top: 1px;
        top: 100%;
        width: 100%;
        left: 0px;

        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);

        border: 1px solid #d2d2d7;
        border-radius: 4px;
        background-color: #ffffff;

        height: 500px;

        &.has-filter {
            height: 550px;

            .dropdown {
                top: 50px;
            }
        }

        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            padding: 10px;

            .search-input {
                width: 100%;
                border: 1px solid #d2d2d7;
                padding: 5px;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .test-height {
        background: red;
        margin: 0px;
        padding: 0px;
        list-style: none;
        position: absolute;
        width: 100%;
        visibility: hidden;
    }

    .arrow {
        // margin-left: 5px;
        border: solid #333;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;

        &.down {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

        &.up {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }

    .dropdown-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .truncated {
            flex: 1;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:focus {
            outline: none;
        }
    }

    .dropdown {
        position: absolute;
        left: 0;
        top: 0;

        padding: 0;
        margin: 2px 0 0 0;
        overflow-y: scroll;
        width: 100%;



        ul {
            margin: 0px;
            padding: 0px;

            li {
                list-style: none;
                position: absolute;
                width: 100%;
                left: 0px;

                .li-inner {
                    padding: 5px;
                }
            }


        }
    }
}

.loader-container {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100px;
    left: 0;
    display: flex;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);

    border: 1px solid #d2d2d7;
    border-radius: 4px;
    background-color: #ffffff;
}

