.airport-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sel-item {
    display: flex;
    margin-top: 20px;

    flex-direction: row;

    .sel-inp {
      margin-left: 20px;
    }
  }

  .airport-chooser {
    width: 500px;
  }
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}